# ===== Pascal =====
*.o
*.ppu
*.dcu
*.compiled
*.exe
*.bak
*.log
*.db
Pascal/*.bat

# ===== C / C++ =====
*.out
*.obj
*.exe
*.dll
*.so
*.a
*.lib
*.pch
*.pdb
*.ilk
*.db

# ===== C# (.NET) =====
*.dll
*.exe
*.pdb
*.obj
*.cache
*.mdb
*.db


# Build results
С#/bin/
С#/obj/
С#/TestResults/
*.nupkg
project.lock.json
project.fragment.lock.json

# ===== Java =====
*.class
*.jar
*.war
*.ear
*.db

# Build dirs
Java/target/
Java/build/
.gradle/
.idea/

# ===== Kotlin (Gradle/IntelliJ) =====
*.class
*.jar
*.kotlin_module
*.db
.idea/
.gradle/
Kotlin/build/

# ===== Python =====
*.pyc
*.pyo
*.pyd
*.db
*.csv

__pycache__/
*.egg
*.egg-info/
Python/dist/
Python/build/
Python/env/
Python/venv/
Python/.venv/
Python/pip-log.txt

# ==== OS
Thumbs.db
ehthumbs.db
Desktop.ini

# ===== Editor/IDE =====
*.swp
*.swo
*~
*.tmp
*.bak
.vscode/
.history/
